body {
  background-color: #161626;
}

p {
  color: #1f1f2e;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-family: Montserrat, sans-serif;
  color: #1f1f2e;
}

.line1, .line2 {
  color: #e3e3e3;
  position: absolute;
  font-family: Allan, sans-serif;
}

.animate {
  color: #e80f00;
  font-family: Montserrat, sans-serif;
  animation: .8s shake infinite alternate;
}

@keyframes shake {

  0% {
    transform: skewX(-15deg);
  }

  5% {
    transform: skewX(15deg);
  }

  10% {
    transform: skewX(-15deg);
  }

  15% {
    transform: skewX(15deg);
  }

  20% {
    transform: skewX(0deg);
  }

  100% {
    transform: skewX(0deg);
  }

}

.background {
  position: relative;
}

.line1 {
  left: 100px;
  top: 50px;
}

.line2 {
  top: 120px;
  left: 400px;
}
