body {
  background-color: #161626;
}

.unit {
  color: #1F1F2E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.line1, .line2 {
  color: #E3E3E3;
  position: absolute;
  font-family: 'Allan', cursive;
}

.animate {
  color: #E80F00;
}

.background {
  position: relative;
}

.line1 {
  left: 10em;
  top: 5em;
}

.line2 {
  top: 10em;
  left: 20em;

}
