body {
  background-color: #161626;
}

.unit {
  color: #1F1F2E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.line1, .line2 {
  color: #E3E3E3;
  position: absolute;
  font-family: 'Allan', sans-serif;
}

.animate {
  color: #E80F00;
  animation: .8s shake infinite alternate;
}

@keyframes shake {
0% { transform: skewX(-15deg); }
5% { transform: skewX(15deg); }
10% { transform: skewX(-15deg); }
15% { transform: skewX(15deg); }
20% { transform: skewX(0deg); }
100% { transform: skewX(0deg); }
}

.background {
  position: relative;
}

.line1 {
  left: 100px;
  top: 50px;
}

.line2 {
  top: 120px;
  left: 400px;
}
